.body h1{
    /* border: 1px solid black; */
    text-align: center;
}
body{
    background-color: white
}
#quiz h1{
    border:1px solid black;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    background-color:#2D8B47;
}
#gee{
    background-color:#249C30;
}